<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Redigera recept</title>
    <!-- Lägg till Tailwind CSS -->
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>

<body class="bg-gradient-to-br from-pink-200 to-purple-400 flex flex-col items-center justify-center min-h-screen">

<div class="max-w-md w-full p-6 bg-white rounded-lg shadow-md">
    <h1 class="text-3xl font-bold mb-8 text-center text-purple-900">Redigera recept</h1>

    <!-- Formulär för att redigera recept -->
    <form th:action="@{/update-recipe/{id}(id=${recipe.id})}" method="post">

    <!-- Dolt input-fält för receptets ID -->
        <input type="hidden" name="id" th:value="${recipe.id}" />

        <label for="title" class="block mb-4 text-purple-900">Titel</label>
        <input name="title" type="text" placeholder="Titel..." id="title" class="w-full border-gray-300 rounded-md p-2 mb-4" th:value="${recipe.title}" required>

        <label for="ingredients" class="block mb-4 text-purple-900">Ingredienser</label>
        <div id="ingredient-container">
            <!-- Loopa igenom befintliga ingredienser och fyll i formulärfält -->
            <textarea th:each="ingredient, iterStat : ${recipe.ingredients}" th:value="${ingredient}" class="w-full border-gray-300 rounded-md p-2 mb-4" th:id="'ingredient-' + ${iterStat.index}" th:name="'ingredients[' + ${iterStat.index} + ']'" required></textarea>
        </div>

        <button type="button" onclick="addIngredient()" class="w-full bg-purple-600 hover:bg-purple-700 text-white font-bold py-2 rounded-md mb-4 transition duration-300 ease-in-out">Lägg till ingrediens</button>

        <label for="instructions" class="block mb-4 text-purple-900">Gör såhär</label>
        <textarea name="instructions" placeholder="Gör såhär..." id="instructions" class="w-full border-gray-300 rounded-md p-2 mb-4" th:text="${recipe.instructions}" required></textarea>

        <button type="submit" class="w-full bg-purple-600 hover:bg-purple-700 text-white font-bold py-2 rounded-md mb-4 transition duration-300 ease-in-out transform hover:-translate-y-1 hover:scale-105">Uppdatera</button>
    </form>

    <!-- Tillbaka till profilsida länk -->
    <a th:href="@{/profile}" class="block text-center text-purple-600 hover:text-purple-700">Tillbaka till profilsidan</a>
</div>

<script th:inline="javascript">
    /* JavaScript-funktion för att lägga till en ny ingrediensruta */
    function addIngredient() {
        var container = document.getElementById('ingredient-container');
        var textarea = document.createElement('textarea');
        var index = container.getElementsByTagName('textarea').length;
        textarea.name = 'ingredients[' + index + ']';
        textarea.placeholder = 'Lägg till ingrediens...';
        textarea.className = 'w-full border-gray-300 rounded-md p-2 mb-4';
        textarea.required = true;
        textarea.id = 'ingredient-' + index; // Lägg till id
        container.appendChild(textarea);
    }
</script>

</body>

</html>


